<script>
    function clickk(linkk) {
        document.querySelector("#myIframe").src=linkk
    }
</script>
<h1>Maestría en Ingeniería de Software</h1>
<h2>Universidad de los Andes</h2>
<h2>MISO4208 - Pruebas Automáticas. 2020-20</h2>
<h3>Proyecto Final de Automatización de Pruebas</h3>
<h4>Grupo #3</h4>

<ul>
            <li>Alexander Prada Pérez</li>
            <li>Belman Julio Santos Mojica</li>
            <li>Eday Alix González Manjarrés</li>
            <li>Edson David Morelo Janson</li>
        </ul>
        <table>
            <tr>
                <th>Aplicación</th>
                <th>Prueba</th>
                <th>Motor</th>
                <th>Lanzar</th>
                <th>Ver resultado</th>
                <th>Ver evidencia</th>
            </tr>
            <tr>
                <td>Habitica</td>
                <td>Functional Test - Login Succesfull</td>
                <td>Cypress</td>
                <td>
                    <a href="javascript:;" onclick="clickk('/start?test=1')" >Ejecutar</a>
                </td>
                <td>
                    <a href="javascript:;" onclick="clickk('/result?test=1')"> Resultado</a>
                </td>
                <td>
                    <a href="javascript:;" onclick="clickk('/evidence?test=1')">Evidencia</a>
                </td>
            </tr>
            <tr>
                <td>Habitica</td>
                <td>Functional Test - Creating a Habit</td>
                <td>Cypress</td>
                <td>
                    <a href="javascript:;" onclick="clickk('/start?test=2')">Ejecutar</a>
                </td>
                <td>
                    <a href="javascript:;" onclick="clickk('/result?test=2')">Resultado</a>
                </td>
                <td>
                    <a href="javascript:;" onclick="clickk('/evidence?test=2')">Evidencia</a>
                </td>
            </tr>
            <tr>
                <td>Habitica</td>
                <td>Functional Test - Register Failed Account Exists</td>
                <td>Cypress</td>
                <td>
                    <a href="javascript:;" onclick="clickk('/start?test=3')">Ejecutar</a>
                </td>
                <td>
                    <a href="javascript:;" onclick="clickk('/result?test=3')">Resultado</a>
                </td>
                <td>
                    <a href="javascript:;" onclick="clickk('/evidence?test=3')">Evidencia</a>
                </td>
            </tr>
            <tr>
                <td>Habitica</td>
                <td>Functional Test - Create Public Challenge</td>
                <td>Cypress</td>
                <td>
                    <a href="javascript:;" onclick="clickk('/start?test=4')">Ejecutar</a>
                </td>
                <td>
                    <a href="javascript:;" onclick="clickk('/result?test=4')">Resultado</a>
                </td>
                <td>
                    <a href="javascript:;" onclick="clickk('/evidence?test=4')">Evidencia</a>
                </td>
            </tr>
            <tr>
                <td>Habitica</td>
                <td>Monkey Test</td>
                <td>Cypress</td>
                <td>
                    <a href="javascript:;" onclick="clickk('/start?test=5')">Ejecutar</a>
                </td>
                <td>
                    <a href="javascript:;" onclick="clickk('/result?test=5')">Resultado</a>
                </td>
                <td>
                    <a href="javascript:;" onclick="clickk('/evidence?test=5')">Evidencia</a>
                </td>
            </tr>
        </table>

        <iframe id="myIframe" src="" style="
            width: 100%; height:500px
        "></iframe>